<div class="container">
  <h2 style="margin-top: 20px; color: blueviolet;">Bienvenido a Viajeros APP</h2>

  <div style="margin-top: 20px;">
    <p style="display: inline;">Registre un nuevo viaje: </p>
    <button class="btn btn-primary" >Nuevo viaje</button>
    <app-nuevo-modal></app-nuevo-modal>
  </div>

  <div style="margin-top: 20px;">
    <b>Buscar viaje por: </b>
    Fecha: 
    <input type="date" id="start" name="trip-start" value="2022-09-29">
  
    Tipo Vehiculo:
    <select class="form-select" aria-label="Default select example" style="width: 200px; display: inline;">
      <option selected></option>
      <option value="1">Auto</option>
      <option value="2">Moto</option>
      <option value="3">Camión</option>
    </select>
  
    Destino:
    <select class="form-select" aria-label="Default select example" style="width: 200px; display: inline;">
      <option selected></option>
      <option value="1">Corrientes</option>
      <option value="2">Buenos Aires</option>
      <option value="3">Chaco</option>
    </select>
  </div>
  
</div>
<!--<div class="container">
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button class="btn btn-dark" style="margin-top: 1%;" type="button" routerLink="/pets/add">+ Add Pet</button>
  </div>
  <div style="display: flex;">
      <div class="card" style="height: 640px; margin: 10px; width: 380px; border-radius: 5px; box-shadow: 2px 2px 5px 2px #888888;" *ngFor="let pet of pets">
          <h5 class="card-header">
              {{ pet.type }}
          </h5>
          <img src="https://static8.depositphotos.com/1057741/1041/i/950/depositphotos_10415184-stock-photo-golden-retriever-dog-sitting-on.jpg" class="card-img-top" style="height: 50%; width: fit-content; margin: auto;" alt="...">
          <div class="card-body" >
              <h5 class="card-title">{{ pet.name }} </h5>
              <h6 class="card-subtitle mb-2">Number: {{ pet.petNumber }} </h6>
              <p class="card-text">{{ pet.description }}</p>
              <div class="text-end">
                  <a href="#" class="btn btn-danger" style="margin: 5px;">Delete</a>
                  <a href="#" class="btn btn-primary" style="margin: 5px;" routerLink="/pets/update" [queryParams]="{petId: pet.id}">Edit</a>    
              </div>
          </div>
          <div class="card-footer">
              {{ pet.dateOfBirth }}
          </div>
      </div>  
  </div> 
</div>-->