<div class="container">
  <h2 style="margin-top: 20px; color: blueviolet;">Bienvenido a Viajeros APP</h2>

  <div *ngIf="modalSwitch==true" 
  style="position: absolute; width: 80%; padding:15px;
  height:550px;background-color: blueviolet;">
    <app-nuevo-modal></app-nuevo-modal>
  </div>
  
  <div style="margin-top: 20px;">
    <p style="display: inline;">Registre un nuevo viaje: </p>
    
    <button class="btn " style="background-color: blueviolet; color: white;" (click)="openModal();">Nuevo viaje</button>
  </div>  

  <div style="margin-top: 20px;">
    <b>Buscar viaje por: </b>
    Fecha: 
    <input type="date" id="start" name="trip-start" value="2022-09-29" style="margin-right: 30px;">
  
    Tipo de vehículo:
    <select class="form-select" aria-label="Default select example" style="width: 200px; display: inline;
    margin-right: 30px;">
      <option selected></option>
      <option value="1">Auto</option>
      <option value="2">Moto</option>
      <option value="3">Camión</option>
      <option value="4">Moto</option>
      <option value="5">Colectivo</option>
      <option value="6">Avión</option>
      <option value="7">Otro</option>
    </select>
  
    Ciudad de destino:
    <select class="form-select" aria-label="Default select example" style="width: 200px; display: inline;">
      <option selected></option>
      <option selected></option>
    <option value="1">Corrientes</option>
    <option value="2">Buenos Aires</option>
    <option value="3">Mendoza</option>
    <option value="4">Misiones</option>
    </select>
    <button class="btn" (click)="openModal();" style="display:inline">Buscar</button>
  </div>

  <div style="display: flex;">
    <!--class="card" -->
    <div style="height: auto; margin-top: 20px; margin-right: 15px; width: 300px; border-radius: 5px; 
    box-shadow: 2px 2px 5px 2px #888888; padding: 10px;" 
    *ngFor="let viaje of viajes">
        <h5 class="card-header">
           Ciudad de destino: {{ viaje.ciudad.nombre }}
        </h5>
        <!-- <img src="https://cloudfront-us-east-1.images.arcpublishing.com/infobae/AN37GCPJHZG6TLSV7MRIZFLPGQ.jpg" class="card-img-top" style="height: 50%; width: 90%; margin: auto;" alt="...">-->
        <div class="card-body" >
            <h5 class="card-title">{{ viaje.name }} </h5>
            <h6 class="card-subtitle mb-2">Nombre del viajero: {{ viaje.viajero.nombreYApellido }} </h6>
            <p class="card-text">Tipo de vehiculo: {{ viaje.vehiculo.tipovehiculo }}</p>
            <p class="card-text">Marca: {{ viaje.vehiculo.marca }}</p>
            <p class="card-text">Patente: {{ viaje.vehiculo.patente }}</p>
            Cantidad de días: {{ viaje.cantidadDias }}
            <div class="text-end">
                <a href="#" class="btn btn-danger" style="margin: 5px;">Cancelar</a>
                <a href="#" class="btn" style="margin: 5px; background-color: blueviolet; color: white;" routerLink="/pets/update" >Reprogramar</a>    
            </div>
        </div> <!--fin de card-body-->
        <div class="card-footer">
          Fecha: {{ viaje.fecha }}
        </div>
    </div>  <!--fin de card-->
  </div> <!--finnde card style-->
  
</div> <!--fin de container-->

